#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#quote-box {
  width: 500px;
  height: auto;
  background-color: #101010;
  border-radius: 10px;
  padding: 2rem;
  margin-top: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#text-container {
  display: flex;
  justify-content: center;
  font-size: 1.75em;
}

#quote-icon {
  font-size: 2.5rem;
  margin-right: 0.5em;
}

#text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

#author {
  font-size: 1.1rem;
  text-align: end;
  font-weight: 500;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

#twitter-icon {
  font-size: 3rem;
  color: #ffffff;
}

@media (max-width: 630px) {
  #quote-box {
    width: 90%;
  }

  #text-container {
    align-items: center;
  }

  #quote-icon {
    margin-bottom: 0.5em;
  }

  .buttons {
    gap: 1rem;
  }
}